<dl class="contact">
    <dt>Calgary contact</dt>
        <dd >Mark Hambridge <br> <a href="mailto:calgary@fairvote.ca">calgary@fairvote.ca</a><br> 403-239-5516</dd><hr>
    <dt>Edmonton contact</dt>
        <dd >Yared Mehzenta <br><a href="mailto:edmonton@fairvote.ca">edmonton@fairvote.ca</a><br> 780-999-4835</dd><hr>
    <dt>National Executive Director</dt>
        <dd >Kelly Carmichael <br><a href="mailto:office@fairvote.ca">office@fairvote.ca</a><br> 705-559-9657</dd><hr>
    <dt>Contact francophone</dt>
        <dd >Julien Lamarche <br><a href="mailto:NCR@fairvote.ca">NCR@fairvote.ca</a><br> 613-266-3793</dd><hr>
    <dt>Web site author</dt>
        <dd >Julien Lamarche <br><a href="mailto:NCR@fairvote.ca">NCR@fairvote.ca</a><br> 613-266-3793</dd><hr>
</dl>

