<p>For more information: 
<table border="1">
<tr><th>Position</th><th>Name</th><th>Email</th><th>Phone</th></tr>
<tr><td>Calgary contact</td><td>Mark Hambridge</td><td><a href="mailto:calgary@fairvote.ca">calgary@fairvote.ca</a></td><td>403-239-5516</td></tr>
<tr><td>Edmonton contact</td><td>Yared Mehzenta</td><td><a href="mailto:edmonton@fairvote.ca">edmonton@fairvote.ca</a></td><td>780-999-4835</td></tr>
<tr><td>National Executive Director</td><td>Kelly Carmichael</td><td><a href="mailto:office@fairvote.ca">office@fairvote.ca</a></td><td>705-559-9657</td></tr>
<tr><td>Contact francophone</td><td>Julien Lamarche</td><td><a href="mailto:julien.lamarche@gmail.com">julien.lamarche@gmail.com</a></td><td>613-266-3793</td></tr>
<tr><td>Script author</td><td>Julien Lamarche</td><td><a href="mailto:julien.lamarche@gmail.com">julien.lamarche@gmail.com</a></td><td>613-266-3793</td></tr>
</table>
</p>