 <dl class="contact">
    <dt>Mouvement D&eacute;mocratie Nouvelle</dt>
        <dd><a href="mailto:info@democratienouvelle.ca">info@democratienouvelle.ca</a><br>514-360-1998</dd><hr>
    <dt>National Executive Director</dt>
        <dd>Kelly Carmichael <br> <a href="mailto:office@fairvote.ca">office@fairvote.ca</a><br> 705-559-9657</dd><hr>
    <dt>Script author</dt>
        <dd>Julien Lamarche <br><a href="mailto:julien.lamarche@gmail.com">julien.lamarche@gmail.com</a><br> 613-266-3793</dd><hr>
</dl>
