 <dl class="contact">
    <dt>National Executive Director</dt>
        <dd >Anita Nickerson<br> <a href="mailto:office@fairvote.ca">office@fairvote.ca</a></dd><hr>
    <dt>National President</dt>
        <dd >Réal Lavergne<br><a href="mailto:real.lavergne@fairvote.ca">reallavergne@yahoo.ca</a></dd><hr>

    <dt>Script author</dt>
        <dd >Julien Lamarche <br><a href="mailto:julien.lamarche@gmail.com">julien.lamarche@gmail.com</a><br> 613-266-3793</dd><hr>
</dl>
