<title>My vote should count</title>

<meta name="description" content="Making a case for a Country that represents everyone! Compilation Of unrepresented votes.">

<meta name="author" content="myvoteshouldcount.ca">
<meta name="keywords" content="FairVoteCanada, Canada, voting system, Proportional Representation, wasted votes, democracy, government">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">

<!-- Twitter Card data -->
<meta name="twitter:card" value="summary">

<!-- Open Graph data -->
<meta property="og:title" content="Making a case for a Country that represents everyone! Compilation Of unrepresented votes." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://myvoteshouldcount.ca" />
<meta property="og:image" content="https://www.fairvote.ca/wp-content/uploads/2018/03/FVC-logo-cropped.jpg" />
<meta property="og:description" content="Making a case for a Country that represents everyone! Compilation Of unrepresented votes." />

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
