 <dl class="contact">
    <dt>National office</dt>
        <dd><a href="mailto:office@fairvote.ca">office@fairvote.ca</a></dd><hr />
    <dt>Script author</dt>
        <dd>Julien Lamarche <br><a href="mailto:julien.lamarche@gmail.com">julien.lamarche@gmail.com</a><hr />
</dl>
